<launch>
 <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
     <arg name="port" value="9000"/>
 </include>
 <node pkg="whattimeis" name="talker" type="talktime.py" required="true"/>
 <node pkg="whattimeis" name="lister" type="listentime.py" required="true" />
 <node pkg="whattimeis" name="webserver" type="webserver.py" args="8000" required="true" />
</launch>
